* {
  box-sizing: border-box;
  text-decoration: none;
  font-style: none;
  font-family: "Lato", sans-serif;
  color: black;
  max-width: 1920px;
}

ul, li {
  display: inline-block;
}

/* ########## INDEX ########## */
@media screen and (max-width: 767px) {
  #main-index .main-index_title {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
  }
  #main-index .main-index_image {
    display: flex;
    justify-content: center;
  }
  #main-index .main-index_image img {
    width: 97% !important;
    object-fit: fill;
    margin-top: 40px !important;
  }
  #main-index .news.title {
    font-size: 60px;
  }
  #main-index .news.title h1 {
    padding: none;
  }
  #main-index .news-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    text-align: center;
  }
  #main-index .news-section .lorem-news {
    font-size: 15px;
  }
  #main-index .news-section img {
    border-radius: 4%;
    width: 90%;
  }
  #main-index .news-section h3 {
    text-align: justify;
    color: white;
    margin-top: 4%;
    width: 90%;
  }
  #main-index .news-section .new_1,
  #main-index .news-section .new_2,
  #main-index .news-section .new_3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
  }
}
/*################ Shop ################*/
@media screen and (max-width: 992px) {
  #main-shop .fix-item {
    height: 600px;
  }
  #main-shop .fix-image {
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 767px) {
  #main-shop .main-shop_title {
    padding-bottom: 30px;
  }
  #main-shop .fix-item {
    height: 300px;
  }
  #main-shop .fix-image {
    height: 100%;
    object-fit: cover;
  }
}
/*################ Gallery################*/
@media screen and (max-width: 767px) {
  #main_gallery {
    display: flex;
    flex-direction: column;
  }
  #main_gallery .container h1 {
    padding-top: 30px;
  }
  #main_gallery #galery {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
  }
  #main_gallery #galery .item-gallery {
    grid-column: 1;
    object-fit: cover;
    padding: 8px 0 8px;
    border-radius: 3%;
    width: 100%;
  }
  #main_gallery #galery .img1 {
    grid-row: 0/1;
  }
  #main_gallery #galery .img2 {
    grid-row: 2/3;
  }
  #main_gallery #galery .img3 {
    grid-row: 3/5;
  }
  #main_gallery #galery .img4 {
    grid-row: 5/6;
  }
  #main_gallery #galery .img5 {
    grid-row: 6/7;
  }
  #main_gallery #galery .img6 {
    grid-row: 7/8;
  }
}
/*############## Contact ################*/
/*################## Footer################ */
@media screen and (max-width: 767px) {
  #footer__footer {
    flex-direction: column;
    justify-content: center;
    width: auto;
  }
  #footer__footer .footer__logo {
    display: flex;
    justify-content: center;
    margin: 15px 0 15px;
    width: 100%;
  }
  #footer__footer .footer__logo img {
    width: 150px;
  }
  #footer__footer .footer__nav {
    min-width: 150px;
  }
  #footer__footer li a {
    text-decoration: none;
    color: black;
    text-align: center;
  }
}
#header .img-logo {
  width: 90px;
}
#header .navbar-item {
  transition: 0.7s;
}
#header .nav-item:hover {
  transition: 0.7s;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  background-color: rgb(230, 230, 230);
}

#footer__footer {
  width: 100%;
  max-width: 1920px;
  height: auto;
  background-color: rgb(211, 209, 209);
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
#footer__footer .footer__logo {
  display: flex;
  width: 30%;
  justify-content: center;
}
#footer__footer img {
  width: 50%;
  display: flex;
  justify-content: center;
}
#footer__footer .footer__nav {
  display: flex;
  width: 30%;
  justify-content: center;
}
#footer__footer .footer__nav .ul__footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}
#footer__footer .footer__nav .ul__footer li a {
  text-decoration: none;
  color: black;
}
#footer__footer .footer__social {
  display: flex;
  width: 30%;
  justify-content: center;
}
#footer__footer .footer__social a {
  font-size: 40px;
  margin: 0 3% 0 3%;
}

#main-index {
  background-color: rgb(39, 23, 23);
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1920px;
  display: flex;
}
#main-index h1 {
  color: white;
  margin-top: 75px;
  font-weight: bolder;
}
#main-index .main-index_image {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#main-index .main-index_image img {
  width: 95%;
  margin-top: 90px;
  border-radius: 3%;
}
#main-index .main-index_news {
  color: white;
  font-weight: bolder;
  margin-top: 125px;
}
#main-index .news-section {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  align-items: flex-start;
}
#main-index .news-section img {
  border-radius: 4%;
  width: 90%;
}
#main-index .news-section h3 {
  text-align: justify;
  color: white;
  margin-top: 4%;
  width: 90%;
}
#main-index .news-section .new_1, #main-index .news-section .new_2, #main-index .news-section .new_3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

#main-shop {
  background-color: rgb(39, 23, 23);
  color: white;
  text-align: center;
  width: 100%;
  height: auto;
}

.main-shop_title {
  padding-bottom: 80px;
  padding-top: 80px;
}

.fix-item {
  height: 800px;
  width: 100%;
}
.fix-item .fix-image {
  height: 100%;
  object-fit: cover;
  border-radius: 9px;
}

#main-comboDeals {
  color: white;
  background-color: rgb(39, 23, 23);
  min-height: 400px;
}

.main-combo_title {
  color: white;
  text-align: center;
  font-weight: bolder;
}

.fix-item2 {
  width: 100%;
  background-color: rgb(230, 230, 230);
}

.fix-img2 {
  width: 100%;
  object-fit: cover;
}

#main_gallery {
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 23, 23);
  justify-content: center;
  max-width: 1920px;
  height: auto;
}
#main_gallery .main-gallery_title {
  text-align: center;
  color: white;
  font-weight: bolder;
  padding-top: 90px;
}

#galery {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 100px 0 200px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 400px);
}
#galery .item-gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  transition: 1s;
}
#galery .item-gallery:hover {
  transition: 0.7s;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 0 8px 15px;
  transform: translateY(-5px);
}
#galery .img1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
#galery .img2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
#galery .img3 {
  grid-column: 3/4;
  grid-row: 1/3;
}
#galery .img4 {
  grid-column: 1/2;
  grid-row: 2/4;
}
#galery .img5 {
  grid-column: 2/3;
  grid-row: 2/3;
}
#galery .img6 {
  grid-column: 2/5;
  grid-row: 3/4;
}

#main-contact {
  max-width: 1920px;
  width: 100%;
  height: auto;
  background-color: rgb(39, 23, 23);
  display: flex;
  flex-direction: column;
}
#main-contact .title-contact h1 {
  color: white;
  font-size: 45px;
  margin: 100px 0 100px;
  text-align: center;
  font-weight: bold;
}
#main-contact .contact_content {
  display: flex;
  width: 100%;
}
#main-contact .contact_content .contact_map {
  width: 50%;
  flex-direction: column;
}
#main-contact .contact_content .contact_map .map {
  max-width: 100%;
}
#main-contact .contact_content .contact_map .map .map-map {
  width: 100%;
  padding-left: 8%;
  border-radius: 5px;
}
#main-contact .contact_content .contact_map .map .map_description {
  width: 100%;
  color: white;
  text-align: justify;
  padding-left: 8%;
}
#main-contact .contact_content .contact-form {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  padding-left: 90px;
  margin-bottom: 100px;
}
#main-contact .contact_content .contact-form h2 {
  color: white;
  font-size: 20px;
}
#main-contact .contact_content .contact-form .form_input {
  text-align: center;
  margin-bottom: 0px;
  font-size: 15px;
  width: 60%;
  height: 30px;
  border-radius: 5px;
}
#main-contact .contact_content .contact-form textarea {
  width: 83%;
  height: 100px;
  border-radius: 5px;
  resize: none;
  margin-bottom: 10px;
}
#main-contact .contact_content .contact-form button {
  transition: all ease-in-out 300ms;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: 0.5s;
  background-color: hwb(133 36% 47%);
}
#main-contact .contact_content .contact-form button:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
  transform: translate(0px, -8px) scale(1.05);
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
