/* ########## INDEX ########## */

@media screen and (max-width: 992px) {

    #main-index {
        .main-index_title {
            display: flex;
            justify-content: center;
            color: white;
            font-weight: bold;
            text-align: center;
            margin-top: 40px;
        }

        .main-index_image {
            display: flex;
            justify-content: center;

            img {
                width: 97% !important;
                margin-bottom: 40px;
                object-fit: fill;
                margin-top: 40px !important;
            }
        }

        .main-index_news {
            display: flex;
            justify-content: center;
            color: white;
            font-weight: bolder;
            margin-top: 15px;
        }

        .news-section {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 40px;

            img {
                border-radius: 4%;
                width: 90%
            }

            h3 {
                text-align: justify;
                color: white;
                margin-top: 4%;
                width: 90%
            }

            .new_1,
            .new_2,
            .new_3 {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-bottom: 30px;
            }
        }
    }
}


/*################ Shop ################*/



@media screen and (max-width: 992px) {

    #main-shop {
        .fix-item {
            height: 600px;
        }

        .fix-image {
            height: 100%;
            object-fit: cover;
        }
    }
}


@media screen and (max-width: 767px) {


    #main-shop {
        .main-shop_title {
            padding-bottom: 30px;

        }

        .fix-item {
            height: 300px;
        }

        .fix-image {
            height: 100%;
            object-fit: cover;
        }
    }
}

/*################ Gallery################*/

@media screen and (max-width: 767px) {

    #main_gallery {
        display: flex;
        flex-direction: column;


        .container {
            h1 {
                padding-top: 30px;
            }
        }



        #galery {
            margin-top: 40px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(7, 1fr);

            .item-gallery {
                grid-column: 1;
                object-fit: cover;
                padding: 8px 0 8px;
                border-radius: 3%;
                width: 100%;
                
            }

            .img1 {
                grid-row: 0/1;
            }

            .img2 {
                grid-row: 2/3;
            }

            .img3 {
                grid-row: 3/5;
            }

            .img4 {
                grid-row: 5/6;
            }

            .img5 {
                grid-row: 6/7;
            }

            .img6 {
                grid-row: 7/8;
            }
        }
    }

}





/*################## Footer################ */

@media screen and (max-width: 767px) {
    #footer__footer {
        flex-direction: column;
        justify-content: center;
        width: auto;

        .footer__logo {
            display: flex;
            justify-content: center;
            margin: 15px 0 15px;
            width: 100%;

            img {
                width: 150px;
            }
        }

        .footer__nav {
            min-width: 150px;
        }

        li a {
            text-decoration: none;
            color: black;
            text-align: center;
        }
    }
}