#footer__footer {
    width: 100%;
    max-width: 1920px;
    height: auto;
    background-color: rgb(211, 209, 209);
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;

    .footer__logo {
        display: flex;
        width: 30%;
        justify-content: center;
    }

    img {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .footer__nav {
        display: flex;
        width: 30%;
        justify-content: center;

        .ul__footer {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 5%;
            li a {
                text-decoration: none;
                color: black;
            }
        }
    }

    .footer__social {
        display: flex;
        width: 30%;
        justify-content: center;

        a {
            font-size: 40px;
            margin: 0 3% 0 3%;
        }
    }
}