
$bg-color: rgb(39, 23, 23);

* {
    box-sizing: border-box;
    text-decoration: none;
    font-style: none;
    font-family: "Lato", sans-serif;
    color: black;
    max-width: 1920px;
}

ul, li {
    display: inline-block;
}

