$accordion-color: red;


#main-comboDeals {
    color: white;
    background-color: $bg-color;
    min-height: 400px;

}

    .main-combo_title {
        color: white; text-align: center; font-weight: bolder;}


#sales-accordion .accordion{  
    
.fix-item2 {
    width: 95%; background-color: rgb(230, 230, 230);     
}

.fix-img2 img {
    width: 100%;
    object-fit: cover;
}
}
