
@mixin center {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

#main-index {
    background-color: $bg-color;
    @include center;
    flex-direction: column;
    max-width: 1920px;
    display: flex;

    h1 {color: white; margin-top: 75px; font-weight: bolder;}

    .main-index_image {
        margin-bottom: 10px;
            img {
                width: 100%; border-radius: 20px;
            }
    }

.main-index_news {color: white; font-weight: bolder; margin-top: 125px}
.news-section {
    @include center;
    margin-top: 80px;
    align-items: flex-start;
        img {
            border-radius: 4%; width: 90% }
        h3 {
            text-align: justify;
            color: white; margin-top: 4%; width: 90%}
        .new_1, .new_2, .new_3 {
            display: flex; 
            align-items: center; flex-direction: column;
            margin-bottom: 100px;}
}
}

