
@mixin center {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

#main-index {
    background-color: $bg-color;
    @include center;
    flex-direction: column;
    max-width: 1920px;

    .main-index_image {
        @include center;
        margin-bottom: 20px;
            img {
                width: 70%;
                margin-top: 90px; border-radius: 3%;
            }
    }
}

.display-1 {color: white; font-weight: bolder; margin-top: 125px}
.news-section {
    @include center;
    margin-top: 80px;
    align-items: flex-start;
        
        img {
            border-radius: 4%; width: 90% }
        h3 {
            text-align: justify;
            color: white; margin-top: 4%; width: 90%}
        .new_1, .new_2, .new_3 {
            display: flex; 
            align-items: center; flex-direction: column;
            margin-bottom: 100px;}
}



