
@mixin center {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

#main_index {
    background-color: $bg-color;
    @include center;
    flex-direction: column;
    max-width: 1920px;

    #main_index-image {
        @include center;
        align-items: baseline;
            img {
                width: 70%;
                margin: 90px 0 0 90px; border-radius: 3%;
            }
    }
}

#news_section {
    @include center;
    margin-top: 170px;
    align-items: flex-start;
        img {
            border-radius: 4%; width: 90% }
        h2 {
            text-align: justify;
            color: white; margin-top: 4%; width: 90%}
        .new_1, .new_2, .new_3 {
            display: flex; 
            align-items: center; flex-direction: column;
            margin-bottom: 100px;}
}



