#main-shop {
    background-color: $bg-color;
    color: white;
    text-align: center;
    width: 100%;
    height: auto;

}
    .main-shop_title {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .fix-item {
        height: 800px;
        width: 100%;

        .fix-image {
            height: 100%;
            object-fit: cover;
            border-radius: 9px;
        }
    }
